.top-level-container {
  display: flex;
  
}

.card {
  width: 500px;
  height: 280px;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 8px;
  padding: 20px;
  box-shadow: 1px 1px 5px 1px lightgray;
}

.link-button {
  background-color: rgb(17, 122, 250);
  width: 100px;
  margin-right: 12px;
  border-radius: 8px;
}

a {
  color: white;
  text-decoration: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.create-card-form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.create-card-form input {
  margin-bottom: 16px;
}

.create-card-form button {
  width: 100px;
  margin: 0px auto;
  margin-bottom: 20px;
}